body {
/*  background-image: url("../images/curtainsFront.png");
  background-size: 100% auto;
  background-repeat: no-repeat;*/
}

.videoContainer{
	width: 100%;
	height: 100%;
	position: relative;
}

.video{
	position: absolute;
	width: 50%;
	left: 25%;
	top: 330px; 
}

